/app/views/links/index2html.haml
/log/development.log
/.idea/encodings.xml
/.idea/.generators
/.idea/misc.xml
/.idea/.name
/.idea/linker.iml
/.idea/modules.xml
/.idea/.rakeTasks
/.idea/vcs.xml
/.idea/workspace.xml
/app/controllers/application_controller.rb.rails2
/app/helpers/application_helper.rb.rails2
/config/database.yml.rails2
/config/environment.rb.rails2
/config/environments/development.rb.rails2
/config/environments/production.rb.rails2
/doc/README_FOR_APP.rails2
/.gitignore.rails2
/test/test_helper.rb.rails2
/vendor/plugins/rails_upgrade/init.rb
/vendor/plugins/rails_upgrade/install.rb
/vendor/plugins/rails_upgrade/lib/application_checker.rb
/vendor/plugins/rails_upgrade/lib/gemfile_generator.rb
/vendor/plugins/rails_upgrade/lib/new_configuration_generator.rb
/vendor/plugins/rails_upgrade/lib/rails_upgrade.rb
/vendor/plugins/rails_upgrade/lib/routes_upgrader.rb
/vendor/plugins/rails_upgrade/lib/tasks/rails_upgrade_tasks.rake
/vendor/plugins/rails_upgrade/MIT-LICENSE
/vendor/plugins/rails_upgrade/Rakefile
/vendor/plugins/rails_upgrade/README
/vendor/plugins/rails_upgrade/test/application_checker_test.rb
/vendor/plugins/rails_upgrade/test/gemfile_generator_test.rb
/vendor/plugins/rails_upgrade/test/new_configuration_generator_test.rb
/vendor/plugins/rails_upgrade/test/routes_upgrader_test.rb
/vendor/plugins/rails_upgrade/test/test_helper.rb
/vendor/plugins/rails_upgrade/uninstall.rb
/config/routes.rb.rails2
/.idea/dataSources.ids
/.idea/dataSources.xml
