<h3>Groups</h3>

<table>
  <tr>
    <th>Group name</th>
  </tr>

<% for group in @groups %>
  <tr>
    <td><%=h group.group_name %></td>
    <td><%= link_to 'Members', group %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <td><%= link_to 'Delete', group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>