%br
%h3 Groups
%table
  %tr
    %th Group name
  - for group in @groups
    %tr
      %td= h group.group_name
      %td= link_to 'Edit', edit_group_path(group)
      -if group.links.count > 0
        %td= link_to 'Members', group, :remote => true, :data => {:show_group_members => true, :id => group.id, :name => group.group_name}
      -else
        %td= link_to 'Delete empty group', group, :method => :delete, :data => {confirm: 'Are you sure?'}
