%span.spaced
  = link_to('New Link', new_link_path)
%span.spaced
  Group Shading: 
  %a{:href => '#', :id => 'row_colors_on'}
    On
  %a{:href => '#', :id => 'row_colors_off'}
    Off
%span.spaced
  %a{href: '#', :data => {toggle_description_length: 'toggle'}}
    - if session[:full_details] == 'true'
      Summary / <b>Details</b>
    - else
      <b>Summary</b> / Details

