%span.spaced
  = link_to('New Link', new_link_path)
%span.spaced
  Group Shading: 
  %a{:href => '#', :id => 'row_colors_on'}
    On
  %a{:href => '#', :id => 'row_colors_off'}
    Off
%span.spaced
  = session[:full_details] == 'false' ? (link_to 'Full Details', :full_details => 'true') : link_to('Summary', :full_details => 'false')
