$(function(){
  $("a[data-delete-group]='true'").bind('click', function() {
    var gid= $(this).data("id");
    $('deleting').insertAfter($(this).closest('tr'));
    $(this).html("");
    // now do ajax call, similar to below.:
  });
});

/*
$(function(){
  $("a[data-verifying-link]='yes'").click(function(event){
    event.preventDefault();
    // spinner here
    a=$(this).parent();
    //a.html('verifying...');
    a.html('<img src="assets/ajax-loader.gif">');
    var id= $(this).data("id");
    var row = $(this).data("tableRow");
    $.ajax({
      url: "/verify_link/"+id+"&table_row="+row,
       type: 'GET',
       success: function(r) {
                $("span#verify_link_"+row).html('<span class="done">Verified</span>');
             },
       error: function(r) {
           $("span#verify_link_"+row).html('<span class="undone">Unverified</span>');
        }
    });
  });
});
*/
