$(function(){
  $(document).on('click', "a[data-verifying-link]='yes'", function(event){
    event.preventDefault();
    a=$(this).parent();
    a.html('<%= image_tag "ajax-loader.gif", alt: '' %>');
    var id= $(this).data("id");
    $.ajax({
      url: "/verify_link/"+id,
      type: 'GET',
      success: function(r) {
        $("span#verify_link_"+id).html('<span class="done">Verified</span>');
      },
      error: function(r) {
        $("span#verify_link_"+id).html('<span class="undone"><a data-verifying-link="yes" data-id="' + id + '" href="#">Unverified</a></span>');
      }
    });
  });
});
