/* Styles for main page */
#banner {
  padding-top: 2px;
  padding-bottom: 2px;
  }
#columns { margin-right: 0 }
#main {
  margin-left: 8em;
  padding-top: 0.5em;
  padding-left: 0.7em;
  }
#main a { text-decoration: none; color: #EFD}
#main	a:hover {color: #AA3;}
#mainLink a {	color: #EFF; text-decoration: underline;}
#mainLink a:hover {color: #EE8;}
#side a {color: #BCA}
#side a:hover {color: #EE8;}
#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  font-style: italic;
  }
#side .alink { padding: 0 0 20px 0 }
#notice { color: lightgreen; }
#username { color: #010101; } /* For the FORM login boxes */
#username_display { color: #ff9; font-style: italic; } /* Once logged in */
#logout a { color: #ff9; font-style: italic; text-decoration: none;}
#divider { color: #fff; }
.form_inputs { margin-left: 2em; }
.nav_links { float: left}
.underline_hyperlinks a { text-decoration: underline }
/* END:mainlayout */
/* For row shading (by group) for better contrast in html tables of data */
.color_group_1 { background-color: #133333; }
.color_group_2 { background-color: #122222; }
.color_group_3 { background-color: #111111; }
.column_align { text-align: center; }
.shown { display: inline }
.hidden { display: none }
.shown_shading_link { display: inline }
.hidden_shading_link { display: none }
.wide { width: 1200 }
.narrow { width: 800 }
.done {color: lightgreen }
#main .undone a {color: tan }
thead.scroller {display: block;}
tbody.scrolling {height: 960px; overflow-y: scroll; display: block;}
